<div
  id="<%= id %>"
  class="h-100 carousel slide d-flex flex-column carousel-vertically-animated product-thumbnails-carousel"
  data-product-carousel-group-identifier="<%= group_id %>"
  data-variant-change-trigger-identifier="<%= trigger_id %>"
  data-product-carousel-per-page="<%= per_page %>"
  data-product-carousel-is-slave="true"
  data-interval="false"
  data-hook>
  <div class="carousel-inner order-1 h-100">
  <% images.each_with_index do |image, image_index| %>
      <% if image_index % per_page == 0 %>
        <div class="carousel-item product-thumbnails-carousel-item h-100<%= ' active' if image_index == 0 %>">
        <div class="h-100 d-flex flex-column justify-content-center">
            <div class="product-thumbnails-carousel-item-content py-1 h-100 d-flex">
      <% end %>
              <div
                class="product-thumbnails-carousel-item-single product-thumbnails-carousel-item-single--visible mt-0"
                data-product-carousel-to-slide="<%= image_index %>"
                data-variant-is-master="<%= image.viewable_id == @product.master.id %>"
                data-variant-id="<%= image.viewable_id %>">
                <%= lazy_image(
                  src: image.attachment.blob.image? ? main_app.url_for(image.url(:pdp_thumbnail)) : display_attachment(image),
                  class: 'd-block w-100 product-thumbnail-carousel-2',
                  alt: image.alt || @product.name,
                  width: 57,
                  height: 70) %>
              </div>
      <% if (image_index + 1) % per_page == 0 || (image_index + 1) == images.length %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
