<div id="associate_asset_modal" class="modal fade p-0" data-object-id="<%= resource.id %>" data-object-type="<%= resource.class.name.underscore %>" >
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header border-top-0 bg-primary align-items-center">
        <h4 class="modal-title text-white "><%= Spree.t(:select_file) %></h4>
        <button type="button" class="cloud-close-modal text-white" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body cloud-asset-modal">
        <%= search_form_for @search, url: , method: "get" do |f| %>
          <div data-hook="admin_products_index_search" class="form-group row align-items-end">
            <div class="col-md-3 p-0">
              <%= f.label :asset_file_name_cont, "Asset Name" %>
              <%= f.text_field :asset_file_name_cont, placeholder: Spree.t(:type_here, scope: :spree_cloud), class: "form-control js-quick-search-target js-filterable" %>
            </div>

            <div class="col-md-3 p-0">
              <%= f.label :user_email_cont, "Added By" %>
              <%= f.text_field :user_email_cont, placeholder: Spree.t(:type_here, scope: :spree_cloud), class: "form-control js-filterable" %>
            </div>

            <div class="col-md-3 p-0">
              <%= f.label :created_at_eq, 'Uploaded at' %>
              <%= f.date_field :created_at_eq, class: "form-control js-filterable" %>
            </div>
            <div class="form-actions" data-hook="buttons">
              <%= f.submit "Search", class: "btn btn-primary px-3" %>
            </div>
          </div>
        <% end %><br>

        <%= turbo_frame_tag "upload_asset_modal_body" do %>
          <div class="row gap-30">
            <% @cloud_assets.each do |asset| %>
                <div class="card asset-area cloud-area border-0 rounded-0">
                  <div class="asset-info cloud-area">
                    <%= image_tag(main_app.cdn_image_url(asset.attachment), class: 'cloud-asset-thumbnail attachment', width: '100%', height: '136px', data: { id: asset.id, name: asset.asset_file_name }) %>
                  </div>
                  <div class="card-body p-0">
                    <%= content_tag(:p, asset.asset_file_name, class: 'cloud-asset-name p-2 rounded-bottom mb-0 card-text h-100') %>
                  </div>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer border-top-0">
        <div class="form-actions" data-hook="buttons">
          <button type="button" class="btn btn-primary attach-btn mr-2">Save</button>
          <button type="button", class="btn btn-light cancel-btn mr-2">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
