<div id="associate_asset_modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong><%= Spree.t(:cloud_assets) %></strong></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= search_form_for @search, url: filter_cloud_assets_admin_product_images_path, method: "get" do |f| %>
        <div data-hook="admin_products_index_search" class="form-group row">
          <div class="col-md-3">
            <%= f.label :asset_file_name_cont, "Asset Name" %>
            <%= f.text_field :asset_file_name_cont, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        
          <div class="col-md-3">
            <%= f.label :user_email_cont, "Added By" %>
            <%= f.text_field :user_email_cont, class: "form-control js-filterable" %>
          </div>

          <div class="col-md-3">
            <%= f.label :created_at_gt, 'Uploaded at' %>
            <%= f.date_field :created_at_gt, class: "form-control js-filterable" %>
          </div>
        </div>

        <div class="form-actions" data-hook="buttons">
          <%= f.submit "Search", class: "btn btn-primary" %>
        </div><br>
        
        
        <% end %>

        <%= turbo_frame_tag "upload_asset_modal_body" do %>
          <div class="row">
            <% @cloud_assets.each do |asset| %>
                <div class="cloud-asset-item asset-area">
                  <div class="asset-info">
                    <%= image_tag(main_app.cdn_image_url(asset.attachment), class: 'cloud-asset-thumbnail attachment', width: '100px', height: '100px', data: { id: asset.id, name: asset.asset_file_name }) %>
                    <%= content_tag(:p, asset.asset_file_name, class: 'cloud-asset-name') %>
                  </div>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary attach-btn">Save</button>
      </div>
    </div>
  </div>
</div>
