<tr id="cloud_asset_<%= cloud_asset.id %>">
  <td class="image text-center">
    <div class="admin-product-image-container small-img">
      <%= display_asset_image(cloud_asset) %>
    </div>
  </td>
  <%= display_asset_type(cloud_asset) %>
  <td><%= cloud_asset.created_at %></td>
  <td><%= file_size_in_kb(cloud_asset.asset_file_size) %> KB</td>
  <td><%= cloud_asset.user&.email %></td>
  <%= display_asset_actions(cloud_asset) %>
</tr>
