<tr id="cloud_asset_<%= cloud_asset.id %>">
  <td><%= cloud_asset.asset_file_name %></td>
  <td><%= cloud_asset.created_at %></td>
  <td><%= "#{(cloud_asset.asset_file_size / 1024.0).to_i} KB" %></td>
  <td>
    <%= link_to "Edit", edit_admin_cloud_path(cloud_asset), class: "btn btn-primary btn-sm mr-2" %>
    <%= link_to "Delete", admin_cloud_path(cloud_asset), method: :delete, data: { method: :delete, confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
  </td>
</tr>