<tr id="cloud_asset_<%= cloud_asset.id %>">
  <td class="image text-center">
    <div class="admin-product-image-container small-img">
    <%= image_tag Rails.application.routes.url_helpers.rails_blob_url(cloud_asset.attachment) %>
  </div>
</td>
  <td><%= cloud_asset.asset_file_name %><br>
    <span><%= cloud_asset.attachment.content_type.split("/").last.upcase %></span>
    <span class="badge badge-secondary"><%= cloud_asset.asset_type&.split("::")&.last %></span>
  </td>
  <td><%= cloud_asset.created_at %></td>
  <td><%= cloud_asset.asset_file_size %></td>
  <td><%= cloud_asset.user&.email %></td>
  <td>
    <td class="actions">
      <span class="d-flex justify-content-end">
        <%= link_to_edit(cloud_asset, class: '', no_text: true) if can?(:edit, cloud_asset) %>
        <%= link_to_delete(cloud_asset, no_text: true) if can?(:delete, cloud_asset) %>
      </span>
    </td>
  </td>
</tr>
 