<% content_for :page_title do %>
  <%= plural_resource_name(Spree::CloudAsset) %>
<% end %>

<% content_for :page_actions do %>
  <%= yield :page_actions %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadCloudAssetModal">Upload Asset</button>
<% end %>


<%= render partial: 'upload_asset_modal' %>
<div class="table-responsive border rounded bg-white">
  <%= turbo_frame_tag 'cloud_assets' do %>
    <table class="table" id='listing_cloud_assets'> 
      <thead class="text-muted">
        <tr>
          <th>Asset Type</th>
          <th>Asset URL</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @cloud_assets.each do |cloud_asset| %>
          <%= render partial: 'cloud_asset', locals: { cloud_asset: cloud_asset } %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
